openapi: 3.0.0
info:
  title: Windexer API
  description: API for querying indexed Solana blockchain data
  version: 1.0.0
servers:
  - url: https://api.windexer.com/v1
paths:
  /accounts/{pubkey}:
    get:
      summary: Get account information
      parameters:
        - in: path
          name: pubkey
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:    
              schema:
                $ref: '#/components/schemas/Account'
  /transactions/{signature}:
    get:
      summary: Get transaction information
      parameters:
        - in: path
          name: signature
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:    
              schema:
                $ref: '#/components/schemas/Transaction'
components:
  schemas:
    Account:
      type: object
      properties:
        pubkey:
          type: string
        lamports:
          type: integer
        owner:
          type: string
        executable:
          type: boolean
        rentEpoch:
          type: integer
        data:
          type: string
    Transaction:
      type: object
      properties:
        signature:
          type: string
        slot:
          type: integer
        err:
          type: object
          nullable: true
        memo:
          type: string
          nullable: true
        blockTime:
          type: integer
          nullable: true